<mat-card class="add-category-card animate__animated animate__fadeIn animate__delay-1s">
  <mat-card-header class="add-category-header">
    <h1>Add New Category</h1>
  </mat-card-header>

  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form (ngSubmit)="formSubmit()" class="add-category-form">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Title</mat-label>
              <input
                required
                autofocus
                type="text"
                name="title"
                matInput
                placeholder="Enter here"
                [(ngModel)]="category.title"
                class="form-control"
              />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea
                name="description"
                matInput
                placeholder="Enter Category Description"
                [(ngModel)]="category.description"
                rows="8"
                class="form-control"
              ></textarea>
            </mat-form-field>

            <div class="text-center mt-4">
              <button mat-raised-button color="accent" class="submit-btn">
                Add
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
